<div class="pb-5"></div>
<hr>
<footer>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <p class="text-muted"><small>
          {% include tools.html %}
        </small></p>
      </div><!-- end column -->
      <div class="col-xs-12 col-sm-8 col-md-8">
        <p class="text-muted"><small>
          This website was last modified on {{ site.time }}<br>
          {% include copyright.html %}
        </small></p>
      </div><!-- end column -->
    </div><!-- end row -->
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ "/assets/bootstrap/js/bootstrap.min.js"| prepend: site.baseurl }}"></script>

