This site was created using <a href="http://getbootstrap.com/" target="_blank">Bootstrap-4.3.1</a>, <a href="https://fontawesome.com/" target="_blank">Font Awesome 5.6.3</a>, and <a href="http://jekyllrb.com/" target="_blank">Jekyll 3.4.0</a>. It is hosted on <a href="https://about.gitlab.com/" target="_blank">GitLab</a>. Patches, suggestions, and comments would be very welcome.
