<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

    <div class="container-fluid pt-5">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="jumbotron jumbotron-fluid align-middle">
            <div class="container-fluid">
              <h1 class="display-4 text-center">{{ site.title }}</h1>
              <h5 class="pt-2 text-center"><a href="{{ site.subtitleurl }}" class="text-muted" target="_blank">{{ site.subtitle }}</a></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center pt-4">
        <div class="col-xs-12 col-sm-12 col-md-9">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div> <!-- /container -->
  </body>
</html>
            
