---
layout: single-column
---
<h2 class="pt-1 pb-3">{{ page.title }}</h2>

{% if page.journal and page.journal != 'template' %}
  Journal: {{ page.journal }}
  {% if page.publisher and page.publisher != 'template' %}
    by {{ page.publisher }}
  {% endif %}
  <br>
{% endif %}

{% if page.venue and page.venue != 'template' %}
  {{ page.venue }}
  <br>
{% endif %}

{% if page.organizers and page.organizers != 'template' %}
  Organizers: {{ page.organizers }}<br>
{% endif %}

{% if page.date and page.date != 'template' %}
  Date: 
  {% if page.dateend and page.dateend != 'template' %}
    from {% include date-formatting.html date=page.date %} 
    to {% include date-formatting.html date=page.dateend %} 
  {% else %}
    {% include date-formatting.html date=page.date %} 
  {% endif %}
  <br>
{% endif %}

{% if page.location and page.location != 'template' %}
  Location: {{ page.location }}<br>
{% endif %}

{% if page.link and page.link != 'template' %}
  <a href="{{ page.link }}">{{ page.link }}</a>
{% endif %}


<div class="pt-5"></div>
{{ content }}

